ByteartRetailMini.Web/Service References/Services/ProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ByteartRetailMini.Application.DataObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ByteartRetailMini.Application.DataObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductDataObject" nillable="true" type="tns:ProductDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductDataObject" nillable="true" type="tns:ArrayOfProductDataObject" />
  <xs:complexType name="ProductDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="tns:CategoryDataObject" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageUrl" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsFeatured" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UnitPrice" nillable="true" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductDataObject" nillable="true" type="tns:ProductDataObject" />
  <xs:complexType name="CategoryDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Products" nillable="true" type="tns:ArrayOfProductDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategoryDataObject" nillable="true" type="tns:CategoryDataObject" />
  <xs:complexType name="ArrayOfCategoryDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CategoryDataObject" nillable="true" type="tns:CategoryDataObject" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCategoryDataObject" nillable="true" type="tns:ArrayOfCategoryDataObject" />
  <xs:complexType name="CategorizationDataObject">
    <xs:sequence>
      <xs:element minOccurs="0" name="CategoryID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CategorizationDataObject" nillable="true" type="tns:CategorizationDataObject" />
</xs:schema>