ByteartRetailMini.Web/Service References/Services/ProductService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ByteartRetailMini.Infrastructure" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ByteartRetailMini.Infrastructure" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:10159/ProductService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ByteartRetailMini.Application.DataObjects" />
  <xs:complexType name="PageInfo">
    <xs:sequence>
      <xs:element name="_x003C_IsDesc_x003E_k__BackingField" type="xs:boolean" />
      <xs:element name="_x003C_OrderPropertyName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_PageIndex_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PageSize_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PageInfo" nillable="true" type="tns:PageInfo" />
  <xs:complexType name="PagedListOfProductDataObjectUqqArW2s">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="PagedListOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/ByteartRetailMini.Infrastructure" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ProductDataObject" Namespace="http://schemas.datacontract.org/2004/07/ByteartRetailMini.Application.DataObjects" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ByteartRetailMini.Application.DataObjects" name="_x003C_Items_x003E_k__BackingField" nillable="true" type="q1:ArrayOfProductDataObject" />
      <xs:element name="_x003C_PageIndex_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_PageSize_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_TotalCount_x003E_k__BackingField" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PagedListOfProductDataObjectUqqArW2s" nillable="true" type="tns:PagedListOfProductDataObjectUqqArW2s" />
</xs:schema>